.testimonials {
    width: 100%;
    margin: 3rem 0;
}

.testimonials .container {
    max-width: 1240px;
    padding: 1rem;
    margin: auto;
    overflow: hidden;
}

.testimonials .outline {
    background-image: linear-gradient(to left, rgba(73,50,173,0.5),rgba(73,50,173,0.7)),url(../assets/testimonials-bg-1920x1080.jpg);
    width: 100%;
    height: 450px;
    background-position: top;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.testimonials .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
    padding: 3rem;
    justify-content: center;
}

.testimonials .body {
    padding: 1.2rem 0;
    color: white;
}

.testimonials .content > * {
    color: white;
}

.testimonials .name > * {
    color: white;
}

.testimonials .name p {
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .testimonials {
        margin: 1rem 0;
    }

    .testimonials .content {
        max-width: 100%;;
    }
}